@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root{
  --verde: #0c443a;
  --limon: #a900ff;
  --degradado:linear-gradient(90deg, var(--limon),var(--verde));
}




*{
  font-family: 'Poppins', sans-serif;
  
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  outline:0;
  border:0;
  

}
*::selection{
  background:var(--limon);
  color: white;
}

html{
  font-size: 62.4%;
  overflow-x: hidden;

}
body{
  background: #ddc0ed;

}
.contenedor {
  background-color: #503838;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin: 2rem;
  border: solid 2px;
  margin-top: 15rem;
  border-radius: 9rem;
  margin-left: 11%;
  margin-right: 11%;
  margin-bottom:10% ;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}
#img2 img{
     width: 100%;
    margin-top: 3rem;
    border-radius: 10px;

}
.contenedor span {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border: solid 2px;
  margin-top: 4rem;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  font-size: 3rem;
  animation-name: change;
  animation-duration: 2s;
  animation-iteration-count:infinite ;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}
.contenedor .iniciar{
  width: 129px;
    height: 74px;
    background: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 51%;
    padding-top: 21px;



}
@keyframes change{
  0%{background-color: red;}
  25%{background-color:aqua;}
  50%{background-color: lavender;}
  70%{background-color:#7b1797;}
  100%{background-color:red;}
}


#contenedor .imagen{
  background-color: #e4e99c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: ;
  border: solid 2px;
  border-top-left-radius:6rem ;
  border-top-right-radius:6rem ;
  height: 20rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

#contenedor .imagen img{
 height: 65%;
 width:90%;



}
section{
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;


}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: var(--degradado);
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all . 2s linear;

}
.btn:hover{
  transform: scale(1.1);
}

.heading{
  text-align: center;
  background: var(--verde);
  color: transparent;
  -webkit-background-clip:text;
  background-clip: text;
  font-size: 5rem;
  text-transform: uppercase;
  padding: 5rem;
}




header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color:#d7f0f7;
  box-shadow: 0 .5rem  1rem rgba(0,0,0,  .1);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header a img{

 width:170px ;
 height:56px;

}

header .navbar a{
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--verde);

}
header .navbar a:hover{
  color: var(--limon);
}
header input{
  display: none;
}
header label{
  font-size: 3rem;
  color: var(--verde);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.inicio{
display: flex;
align-items: center;
justify-content: center;
background: url(./img/fondo.png) no-repeat;
background-size: cover;
background-position: center;


}
.inicio .image img{
  width: 32vw;

  animation: float 3s linear infinite;

}

@keyframes float{
  0%, 100%{
  transform: translatey(0rem);
}
50%{
  transform: translateY(-3.5rem);
}


}


.inicio .content h3{

font-size: 5.5rem;
color: #333;
text-transform: uppercase;

}
.inicio .content h3 span {
 
  color: var(--limon);
  text-transform: uppercase;

}

.inicio .content p{

font-size: 1.7rem;
color: #666;
padding: 1ram 0;




}

.detalles .caja-contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


}
.detalles .caja-contenedor .caja{
  flex: 1.1 37rem;
  background:white;
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  margin: 1rem;
  padding: 3rem 2rem;
  border-radius: 15px;
  text-align: center;
  trancition: .2s linear;
  height: 360px;
}
.aserca_de .columna .caja img{
  height: 60rem;
}

.detalles .caja-contenedor .caja img{
  height: 15rem;
 width: 14rem;
 border-radius: 10px;
  
}

.detalles .caja-contenedor .caja h3{
  font-size: 30px;
  color: #333;
  padding-top: 1rem;
}
.detalles .caja-contenedor .caja p{
  font-size: 20px;
  color: #666;
  padding: 1rem 0;


}

@media  (max-width:1200px){
html{
  font-size: 55%;
}

}

@media(max-width:768px){
  header label{

    visibility: visible;
    opacity: 1;


  }
  
header .navbar{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  padding: 1rem 2rem;
  border-top: .1rem solod rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: .2s linear;
}
 




header .navbar a{
  display: block;
  margin: 3rem 0;
  font-size: 2rem;
}



header input:checked ~ .navbar {

transform: scaleY(1);
opacity: 1;


}



header input:checked ~ label::before{

  content: '\f00d' ;

}

.inicio{
  flex-flow: column-reverse;
}
.inicio .image img{
  width: 39%;
  padding-top: 8rem;
}

.inicio .content h3{
  font-size: 3.6rem;

}

.inicio .content p{
  font-size: 1.5rem;


}
.aserca_de .columna{
  flex-flow: column-reverse;
}
.aserca_de .columna .caja img{
  width: 70%;



}


}

.aserca_de .columna .caja img{
 
  
  
 
 
  
  
  height: 300px;
}
.aserca_de .columna {
  display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;

}
.aserca_de .columna .caja{
   flex: 1.1 30rem;
   border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
     margin: 1rem;
     background:white;
     padding: 3rem 2rem;
  border-radius: .5;
  text-align: center;
  trancition: .2s linear;

}
.suscribete{
  text-align: center;
  padding: 2rem;
  background-color: #ccffcf;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}



}
.suscribete #mis {
  
padding: 50px;




}



.suscribete #face img{
 width: 50px; 
}
.suscribete #what img{
 width: 50px; 
}
#redes{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}
.tipos p{
  font-size: 3rem;
  text-align: center;
  text-transform: none;

}

.tipos .caja {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
flex: 1.1 30rem;
border: solid 1px black;
border-radius: 25px;
background: #e0f9ee;
    border: 0.1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 83);
}
.tipos .caja .caja1{

    display: grid;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    margin: 1rem;
    background: white;
    padding: 3rem 2rem;
    border-radius: 15px;
    text-align: center;

  

}
.tipos .caja .caja1 img{
  width: 30rem;
  border-radius: 15px;

}

.com img{
  display: flex;
  padding: 1rem;


}

.etiketa{
  background: #f4433699;
   text-align: center;
   font-size: 5rem;
    padding:5rem; 
   color: white;
   padding: 25px;
 border-radius: 25px;
 border: 0.1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);

}

.tipos .columna{
 margin: 0 auto;
 width: 300px;
 height: 200px;
 padding-top: 55px;




}

@media (max-width:450px){
  html{
    font-size: 49%;
  }
}
.disponibles .content{
      display: flex;
    
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  flex-wrap: wrap;


}
.disponibles .content .caja {
  
  background:white;
  border-radius: 10px;
  border: .1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  margin: 1rem;
  padding: 3rem 2rem;
  border-radius: .5;
 



  
  


}
.disponibles .content .caja .precio{
  font-size: 2rem;
  border: solid 2px;
  width: 15rem;
  padding: 5px;
  border-radius: 8px;


} 
.caja a{
border: solid 2px;
    margin-left: 28rem;
    position: absolute;
    margin-top: -35px;
    padding: 1rem;
    border-radius: 15px;
    font-size: 12px;
    background: var(--degradado);

  color: white;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: all . 2s linear;
}
.caja a:hover{
  transform: scale(1.1);}
.disponibles .content .caja img{
  border-radius: 20px;
}
.disponibles .content .caja h2{
  text-align: center;
}
.disponibles  #content img{
 width: 150px;
  height: 150px;
  margin: 40px;

}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
    flex-wrap: wrap;
}

#content div {
  margin: 0 10px;

}
#gmail img{
  width: 60px;
  margin: 30px;
}
#gmail {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#gmail span{
 font-size: 15px;
}
#gmail span p{
 font-size: 10px;
}

